<div class="step-1">

  <div id="about" class="wrapper">
  <!-- Accessibility in numbers -->
  <div class="d-flex align-items-center section-aquamarine py-5 cover"> <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 text-white mt-5">
          <div class="row py-1">
            <div class="col-lg-6">
              <div class="card h-100">
                <div class="card-body bg-danger">
                  <div>
                  <h5 class="card-title text-center">
                    <i class="fa fa-2x fa-wheelchair-alt" aria-hidden="true"></i>
                    Pessoas com deficiência motora
                  </h5>
                  <p class="card-text">
                    Há <strong>674.409</strong> residentes no município de São Paulo com deficiência motora,
                    de acordo com pesquisa a partir do dados do IBGE 2010.
                    <a style="color: white; text-decoration: underline;" href="http://www.prefeitura.sp.gov.br/cidade/secretarias/pessoa_com_deficiencia/cadastro_inclusao/dados_censoibge/index.php" target="_blank">
                      Saiba mais
                    </a>
                  </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card">
                <div class="card-body bg-warning">
                  <div>
                  <h5 class="card-title text-center">
                    <img class="fat-boy fa-2x" src="img/icon-old.png">
                    A idade chega para todos
                  </h5>
                  <p class="card-text">
                    Com a queda da taxa de natalidade e aumento da expectativa de vida,
                    <!-- , <strong>20%</strong> da população paulistana era formada por crianças e adolescentes de até 15 anos, mas,  -->
                    teremos tantos jovens abaixo de 15 anos quanto pessoas com mais de 60 anos.
                    <a style="color: #212529; text-decoration: underline;" href="http://www.seade.gov.br/produtos/midia/spdemografico/SP-Demografico-n1-jan2015-final-2.pdf" target="_blank">
                      Saiba mais
                    </a>
                  </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="card h-100">
                <div class="card-body bg-success">
                  <div>
                  <h5 class="card-title text-center">
                    <img class="fat-boy fa-2x" src="img/icon-fat.png">
                    Metade da população está acima do peso
                  </h5>
                  <p class="card-text">
                    Os moradores de São Paulo com excesso de peso eram 38% em 2003, 42,3% em 2008 e
                    <strong>49,7%</strong> em 2015.
                    <a style="color: white; text-decoration: underline;" href="https://g1.globo.com/sao-paulo/noticia/metade-dos-paulistanos-esta-acima-do-peso-aponta-estudo-da-usp.ghtml" target="_blank">
                      Saiba mais
                    </a>
                  </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card" style="height: 100%">
                <div class="card-body bg-orange">
                  <div>
                  <h5 class="card-title text-center">
                    <img class="fat-boy fa-2x" src="img/icon-baby.png">
                    Bebês e crianças de colo
                  </h5>
                  <p class="card-text">
                    Foram registrados
                    <strong>577.170</strong> partos no município de São Paulo entre janeiro de 2015 e dezembro de 2017,
                    de acordo com a prefeitura.
                    <a style="color: black; text-decoration: underline;" href="http://tabnet.saude.prefeitura.sp.gov.br/cgi/tabcgi.exe?secretarias/saude/TABNET/sinasc/nascido.def" target="_blank">
                      Saiba mais
                    </a>
                  </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 text-white mt-5 p-3 text-center">
          <h1 class="">
            <i class="fa fa-wheelchair-alt" aria-hidden="true"></i>
            <span style="font-weight: bold;">Free Wheels</span>
          </h1>
          <h5 class="text-center">
            <p style="text-align: justify;">
              Este estudo integra dados de diferentes fontes
              para identificar os recursos de acessibilidade dos distritos da cidade de São Paulo.
              Foram combinadas dez bases de dados para analisar:
              <ul style="text-align: justify;">
                <li>linhas de ônibus;</li>
                <li>estações de Metrô e da CPTM;</li>
                <li>vagas exclusivas para pessoas com deficiência e idosos;</li>
                <li>relevo e declividade;</li>
                <li>avaliações da acessibilidade de estabelecimentos e pontos de interesse.</li>
              </ul>
            </p>
            <p style="text-align: justify;">
              O objetivo não é chegar a conclusões definitivas,
              e sim criar um ponto de partida para discussões.
              O modelo foi montado a partir dos recursos encontrados, e certamente apresenta limitações.
              Com isso, outras variáveis devem ser acrescidas para enriquecer a análise.
            </p>
          </h5>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
