<div id="methodology" class="section-parallax" style="background-image: url(&quot;img/accessibility_opacity_pb.jpg&quot;) ">
    <div class="container-fluid p-5" style="margin-top: 6.5rem">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="pb-4">Como os bairros foram avaliados?</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="row">
            <div class="text-center col-3"><i class="d-block mx-auto fa fa-3x fa-bus"></i></div>
            <div class="col-9">
              <h4 class="text-primary"><b>Ônibus Acessíveis</b></h4>
              <h6>Mobilidade</h6>
              <h5 class="my-1">Percentual de ônibus acessíveis para cada linha que cruza a região distrital.</h5>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="text-center col-3"><i class="d-block mx-auto fa fa-3x fa-subway"></i></div>
            <div class="col-9">
              <h4 class="text-primary"><b>Metrô e CPTM</b></h4>
              <h6>Mobilidade</h6>
              <h5 class="my-1">Distância média de deslocamento até as estações de metrô e trem metropolitano (CPTM).</h5>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="text-center col-3"><i class="d-block mx-auto fa fa-3x fa-car"></i></div>
            <div class="col-9">
              <h4 class="text-primary"><b>Vagas de Estacionamento</b></h4>
              <h6>Mobilidade</h6>
              <h5 class="my-1">Quantidade de vagas de rua exclusivas para idosos e cadeirantes em relação à área do distrito.</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="py-4 row">
        <div class="col-md-4">
          <div class="row">
            <div class="text-center col-3"><i class="d-block mx-auto fa fa-3x fa-star-half-o"></i></div>
            <div class="col-9">
              <h4 class="text-primary"><b>Avaliação colaborativa</b></h4>
              <h6>Estabelecimentos</h6>
              <h5 class="my-1">Média das avaliações dos estabelecimentos da região distrital, feitas pelos usuários do aplicativo <a href="https://guiaderodas.com" target="_blank"><strong>Guiaderodas</strong></a>.</h5>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="text-center col-3"><i class="d-block mx-auto fa fa-3x fa-universal-access"></i></div>
            <div class="col-9">
              <h4 class="text-primary"><b>Selo de Acessibilidade</b></h4>
              <h6>Estabelecimentos</h6>
              <h5 class="my-1">Estabelecimentos que possuem o <em>Selo de Acessibilidade</em>, emitido pela Prefeitura de São Paulo.</h5>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="text-center col-3"><i class="d-block mx-auto fa fa-3x fa-map"></i></div>
            <div class="col-9">
              <h4 class="text-primary"><b>Relevo</b></h4>
              <h6>Topografia</h6>
              <h5 class="my-1">Índice de regiões planas e morros ou outros declives em cada região distrital.</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <p>
            No total, foram avaliadas dez bases de dados das seguintes fontes entre janeiro e fevereiro de 2018:
            <a href="http://geosampa.prefeitura.sp.gov.br/PaginasPublicas/_SBC.aspx" target="_blank">GeoSampa</a> (Prefeitura de São Paulo),
            <a href="http://olhovivo.sptrans.com.br/" target="_blank">Olho Vivo</a> (SPTrans) e dados fornecidos pelas empresas
            <a href="https://www.scipopulis.com/" target="_blank">Scipopulis</a> e
            <a href="https://guiaderodas.com/" target="_blank">Guiaderodas</a>.
          </p>
          <h5>
            Veja mais detalhes no <a href="http://static.guiaderodas.com/files/free-wheels-paper.pdf" target="_blank">artigo</a>, na página de <a class="methodology-link" href="{{ "/scripts/r/free-wheels.html" | relative_url }}" target="_blank">Metodologia</a>, ou no repositório do <a href="https://github.com/jbarguil/free-wheels" target="_blank">código-fonte</a>.
          </h5>
        </div>
      </div>
    </div>
</div>
