<div id="ranking" class="p-5 container-fluid">
  <div class="row">
      <div class="col-md-12 text-center">
        <h1>
          Ranking
        </h1>
        <p>Click on a column's title to reorder the table.</p>
      </div>
      <div class="col-md-12 points_table">
        <table id="ranking-table" class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>District</th><th>Total</th><th>Venues</th>
              <th>Topography</th><th>Parking</th><th>Bus</th>
              <th>Subway</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
  </div>
</div>
