<div id="team">
<div class="py-5 bg-light" id="speakers">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Team</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-2 mx-2 animate-in-left">
        <a href="https://www.linkedin.com/in/erik-elias-36b219/" target="_blank">
          <img src="img/people_1.jpg" class="center-block img-fluid my-3 rounded-circle" width="300">
          <h3 class="mb-0"><b>Erik M Elias</b></h3>
          <p class="text-muted">ITA</p>
        </a>
      </div>
      <div class="col-lg-2 mx-2">
        <a href="https://www.linkedin.com/in/izabela-cristina-nere-rodrigues-cardoso-385496117/" target="_blank">
          <img src="img/people_3.jpeg" class="center-block img-fluid my-3 rounded-circle" width="300">
          <h3 class="mb-0"><b>Izabela Cardoso</b></h3>
          <p class="text-muted">UnB</p>
        </a>
      </div>
      <div class="col-lg-2 mx-2 animate-in-right">
        <a href="https://www.linkedin.com/in/jbarguil/" target="_blank">
          <img src="img/people_2.jpg" class="center-block img-fluid my-3 rounded-circle" width="300">
          <h3 class="mb-0"><b>João Barguil</b></h3>
          <p class="text-muted">IME-USP and Guiaderodas</p>
        </a>
      </div>
      <div class="col-lg-2 mx-2 animate-in-left">
        <a href="https://www.linkedin.com/in/tallys-martins-984406ba/" target="_blank">
          <img src="img/people_4.png" class="center-block img-fluid my-3 rounded-circle" width="300">
          <h3 class="mb-0"><b>Tallys Martins</b></h3>
          <p class="text-muted">IME-USP</p>
        </a>
      </div>
      <div class="col-lg-2 mx-2 animate-in-left">
        <a href="https://www.linkedin.com/in/victormayrink/" target="_blank">
          <img src="img/people_5.jpg" class="center-block img-fluid my-3 rounded-circle" width="300">
          <h3 class="mb-0"><b>Victor Mayrink</b></h3>
          <p class="text-muted">IME-USP</p>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center" style="margin-top: 2vh">
        <h4><b>Supervision</b></h4>
        <p>Prof. Dr. Fabio Kon - IME-USP</p>
        <p>Dr. Antonio Deusany de Carvalho Junior - IME-USP</p>
      </div>
    </div>
    <div>
    </div>
  </div>
</div>
</div>
