<div id="map" class="step-3">
  <div class="wrapper">

    <div class="row bg-light justify-content-center p-2">
      <h1>
        Explore the scores by choosing a region on the map
        <i class="fa fa-map-marker" aria-hidden="true"></i>
      </h1>
      <div class="row">
        <div class="map-box col-md-8">
          <div id="mapid" class="mapid"></div>
        </div>

        <div class="radar-box col-md-4">
          <div class="row">
            <div class="region-box col-md-12">
              - <!-- District name goes here. -->
            </div>

            <div class="radar-statistics col-md-12">

              <div class="row">
                <div class="score-general col-md-12">
                  <div class="row">
                    <div class="grade">
                      <i class="fa fa-trophy" aria-hidden="true"></i>
                      <span class="score-total"> - </span>
                    </div>

                    <div class="rank-position">
                      <i class="icon-podium"></i>
                      <span class="ranking-total"> - </span>
                    </div>
                  </div>
                </div>

                  <div class="radar-chart-body col-md-12" align="center">
                    <div id="chart">
                    </div>
                  </div>

                <div class="col-md-12 stats">

                  <div class="bla">
                    <div class="score-cards left-card col-md-6">
                      <div class="row">
                        <div class="title col-md-12">
                          <span>
                            Venues
                          </span>
                        </div>

                        <div class="grade">
                          <i class="fa fa-trophy" aria-hidden="true"></i>
                          <span class="score-venues"> - </span>
                        </div>

                        <div class="rank-position">
                          <i class="icon-podium"></i>
                          <span class="ranking-venues"> - </span>
                        </div>
                      </div>
                    </div>

                    <div class="score-cards left-card col-md-6">
                      <div class="row xd">
                        <div class="title">
                          <span>
                            Topography
                          </span>
                        </div>

                        <div class="grade">
                          <i class="fa fa-trophy" aria-hidden="true"></i>
                          <span class="score-topography"> - </span>
                        </div>

                        <div class="rank-position">
                          <i class="icon-podium"></i>
                          <span class="ranking-topography"> - </span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="bla">
                    <div class="score-cards left-card col-md-6">
                      <div class="row">
                        <div class="title">
                          <span>
                            Subway
                          </span>
                        </div>

                        <div class="grade">
                          <i class="fa fa-trophy" aria-hidden="true"></i>
                          <span class="score-subway"> - </span>
                        </div>

                        <div class="rank-position">
                          <i class="icon-podium"></i>
                          <span class="ranking-subway"> - </span>
                        </div>
                      </div>
                    </div>

                    <div class="score-cards right-card col-md-6">
                      <div class="row">
                        <div class="title">
                          <span>
                            Bus
                          </span>
                        </div>

                        <div class="grade">
                          <i class="fa fa-trophy" aria-hidden="true"></i>
                          <span class="score-bus"> - </span>
                        </div>

                        <div class="rank-position">
                          <i class="icon-podium"></i>
                          <span class="ranking-bus"> - </span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="bla">
                    <div class="score-cards right-card col-md-6">
                      <div class="row xd">
                        <div class="title">
                          <span>
                            Parking
                          </span>
                        </div>

                        <div class="grade">
                          <i class="fa fa-trophy" aria-hidden="true"></i>
                          <span class="score-parking"> - </span>
                        </div>

                        <div class="rank-position">
                          <i class="icon-podium"></i>
                          <span class="ranking-parking"> - </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="js/map.js"></script>
<script type="text/javascript" src="js/script.js"></script>
