<div id="methodology" class="section-parallax" style="background-image: url(&quot;img/accessibility_opacity_pb.jpg&quot;) ">
    <div class="container-fluid p-5" style="margin-top: 6.5rem">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="pb-4">How were the districts rated?</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="row">
            <div class="text-center col-3"><i class="d-block mx-auto fa fa-3x fa-bus"></i></div>
            <div class="col-9">
              <h4 class="text-primary"><b>Accessible Buses</b></h4>
              <h6>Mobility</h6>
              <h5 class="my-1">Percentage of accessible vehicles for each bus line that crosses a district.</h5>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="text-center col-3"><i class="d-block mx-auto fa fa-3x fa-subway"></i></div>
            <div class="col-9">
              <h4 class="text-primary"><b>Subway and trains (CPTM)</b></h4>
              <h6>Mobility</h6>
              <h5 class="my-1">Average travel distance to subway and metropolitan train (CPTM) stations.</h5>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="text-center col-3"><i class="d-block mx-auto fa fa-3x fa-car"></i></div>
            <div class="col-9">
              <h4 class="text-primary"><b>Parking spaces</b></h4>
              <h6>Mobility</h6>
              <h5 class="my-1">Number of street parking spaces reserved for persons above 60 or with physical disabilities.</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="py-4 row">
        <div class="col-md-4">
          <div class="row">
            <div class="text-center col-3"><i class="d-block mx-auto fa fa-3x fa-star-half-o"></i></div>
            <div class="col-9">
              <h4 class="text-primary"><b>Collaborative reviews</b></h4>
              <h6>Venues</h6>
              <h5 class="my-1">Average score of the district's reviewed venues by users of the <a href="https://guiaderodas.com/en" target="_blank"><strong>Guiaderodas</strong></a> app.</h5>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="text-center col-3"><i class="d-block mx-auto fa fa-3x fa-universal-access"></i></div>
            <div class="col-9">
              <h4 class="text-primary"><b>Accessibility Seal</b></h4>
              <h6>Venues</h6>
              <h5 class="my-1">Venues with the <em>Accessibility Seal</em>, granted by the Municipality of São Paulo.</h5>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="text-center col-3"><i class="d-block mx-auto fa fa-3x fa-map"></i></div>
            <div class="col-9">
              <h4 class="text-primary"><b>Relief</b></h4>
              <h6>Topography</h6>
              <h5 class="my-1">Ratio between plain and hilly areas within each district.</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <p>
            In total, ten databases were evaluated between January and February 2018, from the following sources:
            <a href="http://geosampa.prefeitura.sp.gov.br/PaginasPublicas/_SBC.aspx" target="_blank">GeoSampa</a> (Municipality of São Paulo),
            <a href="http://olhovivo.sptrans.com.br/" target="_blank">Olho Vivo</a> (SPTrans - São Paulo City Transportation Bureau) and open data from
            <a href="https://www.scipopulis.com/eng/index-en.html" target="_blank">Scipopulis</a> and
            <a href="https://guiaderodas.com/en" target="_blank">Guiaderodas</a>.
          </p>
          <h5>
            More details are available in the <a href="http://static.guiaderodas.com/files/free-wheels-paper.pdf" target="_blank">paper</a> (in English), in the Methodology <a class="methodology-link" href="{{ "/scripts/r/free-wheels.html" | relative_url }}" target="_blank">page</a> (in Portuguese), or at the source code <a href="https://github.com/jbarguil/free-wheels" target="_blank">repository</a>.
          </h5>
        </div>
      </div>
    </div>
</div>
