<header class="site-header">

  <div class="wrapper">

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top navbar-ontop">
      <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar3SupportedContent" aria-controls="navbar3SupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
        <div class="collapse navbar-collapse text-center justify-content-center" id="navbar3SupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item mx-3">
              <a class="nav-link" href="#about"><b>ABOUT</b></a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link" href="#methodology"><b>METHODOLOGY</b></a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link" href="#map"><b>MAP</b></a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link" href="#ranking"><b>RANKING</b></a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link" href="#team"><b>TEAM</b></a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link" href="{{ "/" | relative_url }}"><b>PORTUGUÊS</b></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

  </div>

</header>
