<div class="py-5 section bg-faded">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <h1 class="mb-4 text-center">Realização</h1>
          <div class="row justify-content-center">
            <div class="row col-md-6 justify-content-center">
              <a href="http://ccsl.ime.usp.br/" target="_blank">
                <img class="center-block img-fluid d-block" src="img/usp_logo.png">
              </a>
            </div>

            <div class="row col-md-6 justify-content-center">
              <a href="http://interscity.org" target="_blank">
                <img height="142" width="245" class="center-block img-fluid d-block" src="img/interscity_logo.svg">
              </a>
            </div>
          </div>
        </div>

        <div class="col-md-4" style="border-left: 1px solid black">
          <h2 class="mb-4 text-center">Apoio</h2>
          <div class="row justify-content-center">
            <div class="row col-md-6 justify-content-center">
              <a href="https://guiaderodas.com/" target="_blank">
                <img class="center-block img-fluid d-block" src="img/guia_de_rodas_logo.png">
              </a>
            </div>
            <div class="row col-md-6 justify-content-center">
              <a href="https://www.scipopulis.com/" target="_blank">
                <img class="center-block img-fluid d-block" src="img/scipopulis_logo.png">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
