<div id="ranking" class="p-5 container-fluid">
  <div class="row">
      <div class="col-md-12 text-center">
        <h1>
          Ranking
        </h1>
        <p>Clique no título de cada coluna para reordenar a tabela.</p>
      </div>
      <div class="col-md-12 points_table">
        <table id="ranking-table" class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Região Distrital</th><th>Total</th><th>Estabelecimentos</th>
              <th>Topografia</th><th>Vagas</th><th>Ônibus</th>
              <th>Metrô</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
  </div>
</div>
